.text-animate {
    display: inline-block;
    transform: scale(0);
    animation: bounceIn 0.4s forwards;
    animation-duration: 0.8s;
    white-space: nowrap;
    line-height: 3vh;
    min-width: 10px;
}


@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  @for $i from 0 to 52 {
    .text-animate._#{$i}{
      animation-delay: calc(#{$i+15}s/10);
    }
  }