.text-animate {
    display: inline-block;
    transform: scale(0);
    animation: bounceIn 0.4s forwards;
    animation-duration: 0.8s;
    white-space: nowrap;
    line-height: 3vh;
    min-width: 10px;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  @for $i from 0 to 52 {
    .text-animate._#{$i}{
      animation-delay: calc(#{$i+5}s/10);
    }
  }


  /* animation-primary */
  .animateIn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: var(--primary-colour);
    animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s 1 normal forwards running animateIn;
  }
  
  @keyframes animateIn {
    50% {
        left: 0;
        width: 100%;
    }
  
    100% {
        width: 0;
        left: 100%;
    }
  }
  
  .animateIn {
    position: relative;
    width: fit-content;
    animation: colorIn 1s 0.2s 1 ease-in forwards;
  }
  
  @keyframes colorIn {
    50% {
        color: transparent;
    }
  
    51%,
    100% {
        color: var(--primary-colour);
    }
  }

// animation-white

.animateIn-white::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background-color: white;
  animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s 1 normal forwards running animateIn;
}



.animateIn-white {
  position: relative;
  width: fit-content;
  animation: colorInWhite 1s 0.2s 1 ease-in forwards;
}

@keyframes colorInWhite {
  50% {
      color: rgba(255, 255, 255, 0);
  }

  51%,
  100% {
      color: white;
  }
}


// animate-secondary

.animateIn-secondary::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  background-color: #8892b0;
  animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s 1 normal forwards running animateIn;
}



.animateIn-secondary {
  position: relative;
  width: fit-content;
  animation: colorInSecondary 1s 0.2s 1 ease-in forwards;
}

@keyframes colorInSecondary {
  50% {
      color: rgba(255, 255, 255, 0);
  }

  51%,
  100% {
      color: #8892b0;
  }
}


// Skill flipin
.skill{
  animation: flipIn .5s ease-in forwards;

}

@keyframes flipIn {

  100% {
      transform: rotateY(0deg);
      opacity: 1;
  }
}

  
@for $i from 0 to 12 {
  .__#{$i}{
    animation-delay: calc(#{$i+15}s/15);
  }
}

