.text-animate {
    display: inline-block;
    transform: scale(0);
    animation: bouncein 0.4s 0.5s forwards;
    min-width: 10px;
}

@keyframes bouncein {
    53%{
        transform: scale(1.15);
      }
    80%{
        transform: scale(0.85);
    }
    87%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
      }
}

@for $i from 0 to 52 {
    .text-animate._#{$i}{
        animation-delay: calc(#{$i+15}s/10);
    }
}