html {
    scroll-behavior: smooth;
}

:root {
    --primary-colour: #64ffda;
    --secondary-color: #8892b0;
    --backgroung-color: #0a192f;
    --tertiary-color: #112240;
}

::selection {
    color: white;
    background: #132c53;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 7px;
}

body {
    background-color: var(--backgroung-color);
    margin: 0;
    padding: 0;
}

.navbar-brand {
    color: var(--primary-colour);
    font-family: 'Orbitron', sans-serif;
    font-size: 250%;
    grid-column: 2/3;
    margin-right: auto;
    margin-left: 0.5vw;
    animation: slidedown 0.3s ease-in forwards;
    opacity: 0;
}

.links {
    display: flex;
    grid-column: 3/4;
    align-items: center;
}

.links a:nth-child(1) {
    margin-left: auto;
}

.links a {
    color: var(--primary-colour);
    margin: 0 5%;
    font-family: 'Orbitron', sans-serif;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidedown 0.3s ease-in forwards;
    opacity: 0;
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.links a:hover {
    color: white;
}


.navbar {
    border-radius: 5px;
    width: inherit;
    display: grid;
    grid-template-columns: 5% 3fr 9fr 5%;
    align-items: center;
    position: sticky;
    height: 80px;
    justify-content: space-around;
    margin-bottom: 5%;
    background-color: var(--backgroung-color);
}

.navbar a {
    text-decoration: none;
}

.navbar button {
    display: none;
}

@media (max-width:700px) {
    .navbar-brand {
        font-size: 200%;
    }

    .links a:nth-child(1) {
        margin-left: 0;
    }

    .links a {
        font-size: 100%;
    }
}

@media (max-width:525px) {
    .navbar-brand {
        font-size: 150%;
    }

    .navbar button {
        position: absolute;
        display: block;
        right: 15px;
        grid-column: 4/5;
        height: fit-content;
        background-color: var(--backgroung-color);
        border: 2px solid var(--primary-colour);
        border-radius: 5px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--primary-colour);
        margin: 6px 0;
        transition: 0.4s;
    }

    #mobile-nav {
        display: none;
    }


    .links {
        z-index: 1;
        position: absolute;
        flex-direction: column;
        align-self: flex-start;
        width: 100vw !important;
        grid-column: 1/6;
        height: 100vh;
        justify-content: space-around;
        background-color: #071223;
        animation: slideleft 0.3s ease-in forwards;
        opacity: 0;
    }

    @keyframes slideleft {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Greet */

#greet {
    display: flex;
    /* margin-top: 80px; */
    width: 75vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro-simple {
    padding: 5% 15%;
}


.intro-simple p {
    z-index: -1;
    animation: slideup .7s 1.5s ease forwards;
    position: relative;
    display: block;
    opacity: 0;
}

.intro-simple h1 {
    z-index: -1;
    animation: slideup .7s 1.7s ease forwards;
    opacity: 0;
}

.intro-simple h2 {
    z-index: -1;
    animation: slideup .7s 1.9s ease forwards;
    opacity: 0;
}

@media (max-width:525px) {
    .intro-simple p {
        animation-delay: 0.5s;
    }

    .intro-simple h1 {
        animation-delay: 0.7s;
        /* z-index: -1; */
    }

    .intro-simple h2 {
        animation-delay: 0.9s;
        /* z-index: -1; */
    }
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#greet p {
    color: var(--primary-colour);
    font-size: 125%;
    height: fit-content;
    margin: 0;
}

#greet h1 {
    color: white;
    font-size: 500%;
    height: fit-content;
    margin: 0;
}

#greet h2 {
    color: rgba(255, 255, 255, 0.433);
    font-size: 450%;
    height: fit-content;
    margin: 0;
}

#greet .exp {
    color: var(--secondary-color);
    margin-top: 5px;
    opacity: 0;
    animation: slideup 0.5s 7s forwards;
}

.exp span {
    color: var(--primary-colour);
}

#greet .exp-simple {
    color: var(--secondary-color);
    margin-top: 5px;
}

@media (max-width:835px) {
    .intro-simple {
        font-size: 75%;
    }
}

@media (max-width:650px) {
    .intro-simple {
        font-size: 50%;
    }
}

@media (max-width:550px) {
    .intro-simple {
        width: 100%;
    }
}


/* Projects */

#project {
    margin: 15vw auto;
    width: 50%;
    /* z-index: -1; */
}

#project h1 {
    color: var(--primary-colour);
}

#project a {
    text-decoration: none;
    color: var(--primary-colour);
}

.project {
    margin-bottom: 5%;
    border: 1px solid var(--primary-colour);
    border-radius: 15px;
    padding: 15px 50px;
}

.project span {
    color: var(--primary-colour);
}


.project h2 {
    color: white;
}

.project p {
    color: var(--secondary-color);
}

/* About */


.text {
    background-color: var(--tertiary-color);
}

#about img {
    width: inherit;
    max-width: 90%;
}

#about h2 {
    color: var(--primary-colour);
}

#about p {
    color: var(--secondary-color);
    width: calc(75%-100px);
    max-width: 90vw;
}

@media (min-width:900px) {
    #about {
        text-align: left;
        width: 58%;
        margin: auto;
        display: grid;
        grid-template-columns: 7fr 5fr;
    }

    #about .text {
        grid-column: 1/2;
        padding: 3% 5%;
    }

    /* #about h2 {
        color: var(--primary-colour);
    }

    #about p {
        color: var(--secondary-color);
        width: calc(75%-100px)
    } */


}

@media (max-width:400px) {
    #about {
        text-align: left;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* padding: 15px 50px; */
    }

    #about .text {
        padding: 3% 5%;
    }

    #about h2 {
        color: var(--primary-colour);
    }

    #about p {
        color: var(--secondary-color);
        width: calc(75%-100px)
    }

    .img {
        display: flex;
        justify-content: center;
        align-self: center;
    }

}


/* Skills */

#skills {
    width: 50vw;
    margin-top: 15vw;
    padding: 3vh 3vw;
    background-color: var(--tertiary-color);
}

#skills h1 {
    color: var(--primary-colour);
}

.bar-graph .skill {
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
}


.bar-graph-horizontal>div {
    float: left;
    margin-bottom: 8px;
    width: 50vw;
}

.bar-graph-horizontal .skill {
    float: left;
    margin-top: 18px;
    width: 10%;
    color: var(--primary-colour);
}

.bar-graph-horizontal .bar {
    border-radius: 3px;
    height: 7vh;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
}

.bar::after {
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    position: absolute;
    right: 16px;
    top: 17px;
}

.bar-one .bar {
    background-color: #64b2d1;
    width: 85%;
}

.bar-two .bar {
    background-color: #5292ac;
    width: 75%;
}

.bar-three .bar {
    background-color: #407286;
    width: 80%;
}

.bar-four .bar {
    background-color: #2e515f;
    width: 90%;
}

/* Bar Graph Horizontal Animations */
@keyframes show-bar-one {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes show-bar-two {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes show-bar-three {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes show-bar-four {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Contact */

.contact {
    width: 75vw;
    display: grid;
    margin-top: 15vw;
    justify-content: center;
    grid-template-columns: 6fr 6fr;
}

.contact h2,
.contact p {
    color: var(--primary-colour);
}

.form {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.form .input {
    margin: 15px;
    display: flex;
}

.form .input p {
    width: 20%;
}

.form .input input,
.form .input textarea {
    padding: 4% 5%;
    width: 60%;
    border-radius: 7px;
    background-color: #081323;
    border: none;
    color: var(--primary-colour);
    border-bottom: 2px solid var(--primary-colour);
}

.form .input input[type=number]::-webkit-outer-spin-button,
.form .input input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form .input textarea {
    resize: vertical;
    padding-top: 7px;
    min-height: 100px;
}

.submit {
    background-color: var(--primary-colour);
    border: 2px solid var(--primary-colour);
    padding: 5px 15px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    font-size: large;
    color: var(--backgroung-color);
    font-weight: 400;
}

.submit:hover {
    background-color: transparent;
    color: var(--primary-colour);
}

.form .input input:focus,
.form .input textarea:focus {
    border-style: hidden;
    border: 2px solid var(--primary-colour);
}

@media (max-width:1000px) {

    .form .input input,
    .form .input textarea {
        width: 80%;
    }
}


.contactdetails {
    grid-column: 2/3;
    padding: 9% 3%;
}

.contactdetails table {
    width: 100%;
    /* color: var(--secondary-color); */
}

.contactdetails table td {
    padding: 5%;
}

.contactdetails table td:nth-child(1) {
    color: var(--primary-colour);
}

.contactdetails table td a {
    text-decoration: none;
    color: var(--secondary-color);
}

@media (max-width:750px) {

    .form {
        grid-column: 1/3;
    }

    .contactdetails {
        grid-column: 1/3;
    }
}

@media (max-width:550px) {


    .contactdetails {
        grid-column: 1/3;
    }
}

@media (max-width:400px) {
    .input {
        flex-direction: column;
    }

    .input input {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}


/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--secondary-color);
    height: 80px;
    margin-top: 15vw;
}

.social {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 1vw;
}

.social ul li::marker {
    color: transparent;
    width: 0;
    display: none;
}




.social ul li {
    margin-bottom: 5vh;
}

.social ul li a {
    color: var(--secondary-color);
    font-size: 150%;
}

.social ul li :hover {
    color: var(--primary-colour);
    transform: translateY(-10%);
}

@media (min-width:650px) {
    .social ul::after {
        content: "";
        display: block;
        width: 1px;
        height: 13vh;
        margin: 0px auto;
        background-color: var(--secondary-color);
    }

    .social {
        opacity: 0;
        animation: slideup 0.5s 7.5s forwards;
    }
}

@media (max-width:650px) {
    .social {
        position: static;
        width: 75%;
        display: flex;
        justify-content: center;
    }

    .social ul {
        display: flex;
        width: 50%;
        justify-content: space-between;
    }
}

.scrolltotop {
    position: fixed;
    bottom: 0;
    right: 0;
}

.scrolltotop a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-colour);
    font-weight: 600;
    margin: 5vh 3.5vw;
    width: 50px;
    height: 50px;
    background: #071223;
    border-radius: 50%
}